{% extends 'base.html' %}

{% block content %}
            {% for article in article_list %}
                <div>
                    <span><a href="/{{ username }}/articles/{{ article.nid }}/" class="title">{{ article.title }}</a></span>
                </div>
                <div class="desc_div">
                    <span class="desc">摘要：{{ article.desc }}</span>
                    <span><a href="">阅读全文</a></span>
                </div>
                &nbsp;
                <div class="posted">
                    <span>posted @</span>
                    <span>{{ article.create_time|date:'Y-m-d H:i' }}</span>
                    <span><a href="" class="a">{{ article.user.username }}</a></span>
                    <span> <a href="" class="a">评论({{ article.comment_count }})</a></span>
                    <span><a href="" class="a">点赞({{ article.up_count }})</a></span>
                </div>
            {% endfor %}
            <hr>
{% endblock %}







{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">#}
{#    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>#}
{#    <script src="/static/jquery/jquery.js"></script>#}
{#    <style>#}
{#        *{#}
{#            margin: 0;#}
{#            padding: 0;#}
{#        }#}
{#        .header{#}
{#            width: 100%;#}
{#            height: 60px;#}
{#            background-color: #afd9ee;#}
{#        }#}
{#        .header .blog_title{#}
{#            line-height: 60px;#}
{#            color: white;#}
{#            font-size: 18px;#}
{#            margin-left: 20px;#}
{#        }#}
{#        .container-fluid{#}
{#            margin-top: 30px;#}
{#        }#}
{#        .title{#}
{#            font-weight: bold;#}
{#        }#}
{#        .desc_div{#}
{#            padding-top: 10px;#}
{#        }#}
{#        .desc{#}
{#            text-align: justify;#}
{#        }#}
{#        .posted{#}
{#            float: right;#}
{#            color: darkgray;#}
{#        }#}
{#        .posted .a{#}
{#            color: darkgray;;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    <div class="header">#}
{#        <span class="blog_title">{{ blog.title }}</span>#}
{#    </div>#}
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-md-3">#}
{#                <div class="panel panel-success">#}
{#                     <div class="panel-heading">我的标签</div>#}
{#                    {% for tag in tag_list %}#}
{#                        <ul class="list-group">#}
{#                            <li class="list-group-item"><a href="/{{ user }}/tag/{{ tag.0 }}/">{{ tag.0 }}({{ tag.1 }})</a></li>#}
{#                        </ul>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="panel panel-success">#}
{#                     <div class="panel-heading">随笔分类</div>#}
{#                    {% for category in category_list %}#}
{#                        <ul class="list-group">#}
{#                            <li class="list-group-item"><a href="/{{ user }}/category/{{ category.0 }}/">{{ category.0 }}({{ category.1 }})</a></li>#}
{#                        </ul>#}
{#                    {% endfor %}#}
{##}
{#                </div>#}
{#                <div class="panel panel-success">#}
{#                     <div class="panel-heading">随笔归档</div>#}
{#                    {% for date in date_list %}#}
{#                        <ul class="list-group">#}
{#                            <li class="list-group-item"><a href="/{{ user }}/achrive/{{ date.0 }}/">{{ date.0 }}({{ date.1 }})</a></li>#}
{#                        </ul>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-9">#}
{#                {% for article in article_list %}#}
{#                    <div>#}
{#                        <span><a href="" class="title">{{ article.title }}</a></span>#}
{#                    </div>#}
{#                    <div class="desc_div">#}
{#                        <span class="desc">摘要：{{ article.desc }}</span>#}
{#                        <span><a href="">阅读全文</a></span>#}
{#                    </div>#}
{#                    &nbsp;#}
{#                    <div class="posted">#}
{#                        <span>posted @</span>#}
{#                        <span>{{ article.create_time|date:'Y-m-d H:i' }}</span>#}
{#                        <span><a href="" class="a">{{ article.user.username }}</a></span>#}
{#                        <span> <a href="" class="a">评论({{ article.comment_count }})</a></span>#}
{#                        <span><a href="" class="a">点赞({{ article.up_count }})</a></span>#}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{##}
{#                <hr>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</body>#}
{#</html>#}