<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/static/jquery/jquery.js"></script>
    <style>
        .desc{
            text-align: justify;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
         <div class="container-fluid">
              <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">博客园</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.username %}
                            <li><a href="" class="glyphicon glyphicon-user">&nbsp;{{ request.user.username }}</a></li>
                            <li><a href="/{{ request.user.username }}/">我的博客</a></li>
                            <li><a href="/logout/">退出</a></li>
                            {% else %}
                            <li><a href="/login/">登录</a></li>
                            <li><a href="/register/">注册</a></li>
                        {% endif %}
                    </ul>
              </div>
         </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-success">
                     <div class="panel-heading">网站分类</div>
                     <div class="panel-body">Panel content</div>
                      <ul class="list-group">
                           <li class="list-group-item">Cras justo odio</li>
                           <li class="list-group-item">Dapibus ac facilisis in</li>
                           <li class="list-group-item">Morbi leo risus</li>
                           <li class="list-group-item">Porta ac consectetur ac</li>
                           <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                </div>
                <div class="panel panel-danger">
                     <div class="panel-heading">最新推荐博客</div>
                     <div class="panel-body">Panel content</div>
                     <ul class="list-group">
                          <li class="list-group-item">Cras justo odio</li>
                          <li class="list-group-item">Dapibus ac facilisis in</li>
                          <li class="list-group-item">Morbi leo risus</li>
                          <li class="list-group-item">Porta ac consectetur ac</li>
                          <li class="list-group-item">Vestibulum at eros</li>
                     </ul>
                </div>
            </div>
            <div class="col-md-6">
                {% for article in article_list %}
                    <div>
                        <span><a href="/{{ article.user }}/articles/{{ article.nid }}/">{{ article.title }}</a></span>
                    </div>
                    <div>
                        <span class="media-left"><a href="/{{ article.user }}/"><img width="60" src="http://pic.qqtn.com/up/2018-1/2018011116445675984.jpg" alt=""></a></span>
                        <span class="media-right small desc">{{ article.desc }}</span>
                    </div>
                    &nbsp;
                    <div>
                        <span><a href="/{{ article.user }}/">{{ article.user.username }}</a></span>
                        <span>发布于{{ article.create_time|date:'Y-m-d H:i' }}</span>
                        <span class="glyphicon glyphicon-comment"> <a href="">评论({{ article.comment_count }})</a></span>
                        <span class="glyphicon glyphicon-thumbs-up"><a href="">点赞({{ article.up_count }})</a></span>
                    </div>
                    <hr>
                {% endfor %}



            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">Panel content</div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">Panel content</div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">Panel content</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>